@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta Inhabilitada";
}

<hgroup>
    <h1 class="text-danger">Cuenta Inhabilitada.</h1>
    <h2 class="text-danger">Esta cuenta ha sido inhabilitada por seguridad. Deje pasar un tiempo e intente nuevamente.</h2>
</hgroup>
